<p>Hi <%= @membership.user.email_address %>,</p>

<p><%= @band.name %> has invited you to join their band workspace on Bandmgr.</p>

<p><a href="<%= @accept_url %>">Accept invitation</a></p>

<p>If you weren't expecting this, you can ignore this email.</p>
